<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Whiterabbit</title>
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link href='https://vjs.zencdn.net/7.4.1/video-js.css' rel='stylesheet'>
</head>
<body>
<div id="app">
	<header class="main-header">
		<a href="/" class="icon-logo logo"></a>
		<div class="social">
			<ul class="social-list">
				<li><a href="https://fb.me/WRJumpIn" class="icon-Facebook"></a></li>
				<li><a href="https://twitter.com/WRJumpIn" class="icon-Twitter2"></a></li>
				<li><a href="https://t.me/jumpin" class="icon-Telegram"></a></li>
				<li><a href="https://medium.com/@JumpIn" class="icon-Medium"></a></li>
			</ul>
		</div>
	</header>
	<div class="container">
		<main class="main-content">
			<h1 class="main-headline">Jump in...</h1>
			<ul class="video-list">
				<li v-for="video in videos" class="video-list-item">
					<a href="javascript: void(0);" v-on:click="getPopup(video)">
						<img :src="video.poster" alt="">
            <h4 class="video-item-name">{{video.title}}</h4>
					</a>
				</li>
			</ul>
		</main>
  </div>
<div class="popup" v-if="popup.on" >
	<div v-on:click="removePopup(this)" class="popup-overlay"></div>
	<div class="popup-inner">
		<div v-if="existPluginVal">
			<video v-init-video controls autoplay>
        <source type="video/mp4" :src="popup.video.video" />
      </video>
      <input type="hidden" name="video_title"   :value="popup.video.title">
      <input type="hidden" name="video_poster"  :value="popup.video.poster">
      <input type="hidden" name="video_owner"   :value="popup.video.owner">
      <input type="hidden" name="video_tokenid" :value="popup.video.tokenid">
		</div>
		<div v-if="!existPluginVal">
			<p class="main-headline">White Rabbit plugin not detected!</p>
			<p class="main-headline">Download the plugin <a href="#">here</a></p>
			<p class="main-headline">to express your gratitude as a fan!</p>
		</div>
  </div>
</div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ramda/0.25.0/ramda.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src='https://cdn.jsdelivr.net/npm/base-58@0.0.1/Base58.min.js'></script>
  <script src='https://vjs.zencdn.net/7.4.1/video.js'></script>
  <script src="https://unpkg.com/ipfs-http-client/dist/index.min.js"></script>
  <script src="https://cdn.ethers.io/scripts/ethers-v4.min.js"></script>
  <script src="js/app.js" ></script>
</body>
</html>
